<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @consultation.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @consultation.hora %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @consultation.medico.nome %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @consultation.paciente.nome %>
</p>

<%= link_to 'Editar', edit_consultation_path(@consultation) %> |
<%= link_to 'Voltar', consultations_path %>
