= semantic_form_for [@exame] do |form|
  
  = form.input :descricao, :label => 'Descricao'
  = form.input :valor, :label => 'Valor'
  = form.input :observacao, :label => 'Observacao'
  = form.submit 'Salvar'
