= semantic_form_for [@medico] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :fone, :label => 'Fone'
  = form.input :endereco, :label => 'Endereco'
  = form.input :email, :label => 'Email'
  = form.input :crm, :label => 'Crm'
  = form.submit 'Salvar'
