<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : CrossWalk 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140216

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Sistema Hospitalar </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

<meta name="keywords" content="" />
<meta name="description" content="" />


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="http://localhost:3000/">Hospital Hogsmeade</a></h1>
		</div>
		<div id="menu">
			<ul class="menuprincipal">
				<!--<li class="current_page_item"><a href="http://localhost:3000/" accesskey="1" title="">Homepage</a></li>-->
			       <li><%= link_to 'Paciente',pacientes_path %></li>
			       <li><%= link_to 'Medico',medicos_path %></li>
			       <li><%= link_to 'Consulta',consultations_path %></li>
				   <li><%= link_to 'Exame',exames_path %></li>
				   <li><%= link_to 'Requisicao',requests_path %></li>
			</ul>
		</div>
	</div>
	<div id="banner"><%= image_tag "hogsmeade.jpg", {height: 400, width: 1020} %></div>

	<div id="featured">
		<%= yield %>
	</div>
</body>
</html>
